<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0">Estudiantes</h1>
      </div><!-- /.container-fluid -->
    </div>
  </div>
</div>

<div class="container form-group">
  <div class="row">
  <div class="col-lg-6">
    <input type="text" class="form-control" placeholder="Buscar estudiantes"  [(ngModel)]="word" (keydown)="search()">
  </div>
  <div class="col-lg-6">
    <button [routerLink]="['/student/create']" class="btn-agg">AGREGAR<i class="fas fa-plus"></i></button>
    <button [routerLink]="['/student/edit-auth']" class="btn-agg">AUTORIZACIONES</button>
  </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-lg-12 col-md-10 ml-auto mr-auto">
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th class="text-center">#</th>
              <th>Nombre</th>
              <th>Apellido</th>
              <th>Grado</th>
              <th class="text-right">Curso</th>
              <th class="text-right">Acciones</th>
            </tr>
          </thead>
          <tbody *ngFor="let student of students | paginate: { itemsPerPage: 7, currentPage: page }; let i = index">
            <tr>
              <td class="text-center">{{i}}</td>
              <td>{{student.nombre}}</td>
              <td>{{student.apellido}}</td>
              <td>{{student.grado}}</td>
              <td class="text-right">{{student.curso}}</td>
              <td class="td-actions text-right">
                <button type="button" [routerLink]="['/student/update', student._id.$oid ]" rel="tooltip" class="btn btn-success btn-just-icon">
                  <i class="fas fa-pen"></i>
                </button>
                <button type="button" (click)="delete(student._id.$oid)" rel="tooltip" class="btn btn-danger btn-just-icon" >
                  <i class="fas fa-trash"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<br>
<pagination-controls (pageChange)="page = $event"
previousLabel="Anterior"
nextLabel="Siguiente">
</pagination-controls>

